html {
    height: 100%;
}

body {
    background-color: rgb(179, 179, 179);
    background-image: url(img/restaurante.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}
nav {
    background-color: rgba(0, 0, 0, 0.452);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 40px;
    padding-left: 240px;
    padding-right: 240px;
}
footer {
    background-color: rgba(0, 0, 0, 0.596);
    height: 5px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 {
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;   
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

footer p {
    font-size: 10px;

}

.maps {
    padding-bottom: 100px;
}